@import url('https://fonts.googleapis.com/css2?family=Asap&family=Changa&family=Inter:wght@300;400&family=Red+Rose:wght@600&family=Work+Sans&display=swap');

.home_wrapper {
    display: grid;
    margin-top: 50px;
    font-family: 'Red Rose', cursive;
}

/* rent */
.rent {
    width: 87%;
    justify-self: center;

}

.rent_inner {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
}

.rent_item {
    display: grid;


}

.rent_item#txt {
    width: fit-content;
}

.rent_item#txt h3 {
    color: #434343;
    font-size: 50px;
    margin: 0;
}

.rent_item#txt p {
    color: #434343;
    font-size: 20px;
    margin: 0 !important;
}

.rent_item#txt h3 span {
    background-image: linear-gradient(#A02279 60%, #A02279 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.search {
    display: flex;
    width: 100%;
    border: 1px solid #A3A3A3;
    border-radius: 10px;
    background: rgba(247, 247, 247, 0.1);
    height: fit-content;
}

.search_input {
    border: none;
    width: 100%;
    outline: none;
    border-radius: 10px;
    color: #B8B8B8;
    font-family: 'Red Rose', cursive;
    padding: 0px 20px;
}

.search button {
    background-image: linear-gradient(#A02279 60%, #A02279 100%);
    color: white;
    width: 70%;
    padding: 15px 0px;
    border-radius: 0px 10px 10px 0px;
    outline: none !important;
    border: none;
    font-family: 'Red Rose', cursive;
}



.rent_item#img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image_down {
    margin-top: 80px;
}

.image_down,
.image_up {
    width: 97%;
    justify-self: center;
}

.image_down img,
.image_up img {
    width: 100%;

}


/*rent */


/* tokens */

.tokens {
    margin-top: 50px;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    padding: 20px 0px;
    display: grid;
}

.tokens_inner {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.token_item {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.token_item_in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img#metamask {
    height: 40px;
}

.token_item_in h3 {
    color: white;
    font-size: 30px;
    margin: 0;
    font-weight: 100 !important;
    letter-spacing: 3px;
}

.has_background {
    background-color: white;
    border-radius: 50%;
    padding: 10px 12px;
    margin-right: 10px;
    display: flex;
    place-items: center;
}

.has_background img {
    height: 20px;
}

/* tokens */



/* inspiration */
.inspiration {
    display: grid;
    margin-top: 30px;
}

.inspiration_heading {
    width: 90%;
    justify-self: center;
}

.inspiration_heading h3 {
    color: #000000;
    font-size: 40px;
    text-align: center;
}

.inspiration_inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    width: 90%;
    justify-self: center;
    place-items: center;
    justify-content: center;
}

.inspiration_item {
    border: 1px #D7D7D7 solid;
    border-radius: 15px;
    margin: 20px 10px;
    min-width: 23%;
    justify-self: center;

}

.inspiration_inner img {
    width: 100%;
    height: 300px;
}

.inspiration_box {
    padding: 15px;
}

.inspiration_text {
    display: flex;
    justify-content: space-between;
    place-items: center;
    width: 100%;
}

.insp_text2 {
    text-align: end;
}

.inspiration_text p,
.inspiration_text h6 {
    margin: 5px;
    font-size: 12.5px;
}

.insp_icon {
    color: #A02279;
    margin: 0px 5px;
}

/* inspiration */



/* nfts */

.nfts {

    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    border: 1px solid #000000;
    display: grid;
    padding: 50px 0px;

}

.nfts_inner {
    width: 90%;

    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nfts_item {
    position: relative;
}

.nfts_item h3 {
    color: white;
    font-size: 40px;
}

.nfts_item p {
    color: white;
    font-weight: 100 !important;
    font-size: 18px;
    letter-spacing: 1px;
}

.nfts_item button {
    color: #A02279;
    font-family: 'Red Rose', cursive;
}

.nfts_item#img {
    text-align: end;
    width: 100%;
}

.nfts_item#img img {
    width: 100%;
    height: 100%;

}



/* nfts */




/* media queries */


@media screen and (max-width:1200px) {
    .rent_inner {
        grid-template-columns: 1fr 1fr;
    }

    .rent_item {
        width: 95%;
        justify-self: center;
    }

    .image_down,
    .image_up {
        width: 95%;
        justify-self: center;
    }


}


@media screen and (max-width:1050px) {
    .inspiration_inner {
        display: flex;
        flex-wrap: wrap;
    }


}




@media screen and (max-width:950px) {

    .rent_item#txt h3 {
        font-size: 30px;

    }

    .rent_item#txt p {
        font-size: 18px;
    }

    .rent_item#txt h3 {
        margin-bottom: 10px;
    }

    .search {
        margin-top: 10px;
    }

    .token_item_in img {
        height: 25px;
    }

    .has_background img {
        height: 17px !important;
    }

    img#metamask {
        height: 35px;
    }



    .token_item_in h3{
        font-size: 25px;
    }
}


@media screen and (max-width:767px) {

    .rent_inner {
        grid-template-columns: 1fr;
    }

    .rent_item#img {
        padding-top: 30px;
    }

    .image_down {
        margin-top: 0;
    }

    .tokens_inner {
        grid-template-columns: 1fr;
    }

    .token_item {
        margin: 10px 0px;
        place-content: start;
    }

    .token_item_in img {
        height: 20px;
    }

    .has_background img {
        height: 15px;
    }

    img#metamask {
        height: 30px;
    }

    .inspiration_heading h3, .nfts_item h3{
        font-size: 30px;
    }
    .nfts_item p{
        font-size: 16px;
        font-weight: 100 !important;
    }
    
    .inspiration_box img{
        height: 250px;
    }

    .nfts_inner{
        grid-template-columns: 1fr;
    }
    .nfts_item#img{
        text-align: center;
        grid-row: 1;
    }
    .nfts_item{
        margin: 20px 0px;
    }

}